<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.community.dao.InformationDao">
    <select id="getByIds" parameterType="java.lang.String" resultType="com.xupt.community.domain.Information">
        select * from information where id in
        <foreach collection="informationIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
<select id="getLatestInformations" resultType="com.xupt.community.domain.Information">
    select * from information order by gmt_create desc limit 10
</select>
    <insert id="addInformation">
        insert into information (
        title,
        text,
        time,
        address,
        cov_pic_url,
        poster_id,
        community_id,
        gmt_create
        )values(
        title,
        text,
        time,
        address,
        covPicUrl,
        posterId,
        communityId,
        gmtCreate
        )
    </insert>
    <select id="list" resultType="com.xupt.community.domain.Information">
        select * from information order by gmt_create desc
    </select>

    <select id="getByCommunityId" parameterType="java.lang.Long" resultType="com.xupt.community.domain.Information">
        select * from information where community_id = #{communityId}
    </select>

    <update id="addCount" parameterType="java.lang.Long">
        update information set count = count+1 where id = #{informationId}
    </update>

    <select id="getByCommunityIds" parameterType="java.lang.Long" resultType="com.xupt.community.domain.Information">
        select * from information where community_id in
        <foreach collection="communityIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
